@page
@model QuizCarLicense.Pages.Quiz.UpdateModel
@{
    string btncss = "py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700";
    string btnpuplecss = "focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900";
}
@if (Model.QuizModel != null)
{

    <div>@Model.Message</div>

    <div class="m-4 rounded-lg bg-white p-4 shadow dark:bg-gray-800">
        <div class="flex justify-between">
            <div class="shrink-0 flex items-center pb-4 text-xl font-medium text-slate-800">
                @Model.QuizModel.Title
            </div>
            <a class="@btnpuplecss" href="/Test?quizId=@Model.QuizModel.QuizId">
                Test
            </a>
        </div>
        <div class="relative border-t border-slate-200 py-4 font-light leading-normal text-slate-600">
            <ul class="rounded-lg border border-gray-200 bg-white text-sm font-medium text-gray-900 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <li class="block w-full cursor-pointer border-b border-gray-200 px-4 py-2 hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                    Detail: @Model.QuizModel.Detail
                </li>
                <li class="block w-full cursor-pointer border-b border-gray-200 px-4 py-2 hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                    Create at: @Model.QuizModel.CreatedAt
                </li>
            </ul>
        </div>
    </div>

    <div class="m-4 rounded-lg bg-white p-4 shadow dark:bg-gray-800">
        <div class="flex justify-between">
            <div class="shrink-0 flex items-center pb-4 text-xl font-medium text-slate-800">
                List question
            </div>
            @if (User?.Identity?.IsAuthenticated == true)
            {
                <a class="@btncss" asp-page="/Quiz/Add" asp-route-code="@Model.QuizModel.QuizId">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-copy-plus"><line x1="15" x2="15" y1="12" y2="18" /><line x1="12" x2="18" y1="15" y2="15" /><rect width="14" height="14" x="8" y="8" rx="2" ry="2" /><path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2" /></svg>
                </a>
            }
        </div>
        @if (Model.QuizModel.Questions?.Any() == true)
        {

            <ul class="rounded-lg border border-gray-200 bg-white text-sm font-medium text-gray-900 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                @foreach (var question in Model.QuizModel.Questions)
                {
                    <li class="block w-full cursor-pointer border-b border-gray-200 px-4 py-2 hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">#@question.QuestionId @question.Content</li>
                }
            </ul>
        }
        else
        {
            <div> List question empty</div>
        }

    </div>
}
else
{
    <div class="flex justify-center my-4 font-medium text-gray-500"> This quiz is not avalable</div>
}

