@page
@model QuizCarLicense.Pages.Auth.SignInModel
@{
}

@{
    ViewData["Title"] = "SignIn page";

    // Common classes for repeated elements
    string containerCss = "w-full rounded-lg bg-white shadow dark:border dark:bg-gray-800 dark:border-gray-700 sm:max-w-md md:mt-0 xl:p-0";
    string formContainerCss = "space-y-4 p-6 sm:p-8 md:space-y-6";
    string inputCss = "block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500";
    string labelCss = "mb-2 block text-sm font-medium text-gray-900 dark:text-white";
}
<style>
    .contain {
        height: 80vh !important;
    }

</style>

<div class="contain flex items-center justify-evenly">
    <div class="@containerCss">
        <div class="@formContainerCss">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white md:text-2xl">
                Create Account
            </h1>

            <form method="post" asp-page-handler="SignUp" class="space-y-4 md:space-y-6">
                <div>
                    <label asp-for="UserInput.UserName" class="@labelCss"></label>
                    <input asp-for="UserInput.UserName" class="@inputCss" placeholder="Username" />
                    <span asp-validation-for="UserInput.UserName" class="text-red-400 text-sm"></span>
                </div>

                <div>
                    <label asp-for="UserInput.FullName" class="@labelCss"></label>
                    <input asp-for="UserInput.FullName" class="@inputCss" placeholder="Fullname" />
                    <span asp-validation-for="UserInput.FullName" class="text-red-400 text-sm"></span>
                </div>

                <div>
                    <label asp-for="UserInput.Password" class="@labelCss"></label>
                    <input asp-for="UserInput.Password" class="@inputCss" type="password" placeholder="••••••••" />
                    <span asp-validation-for="UserInput.Password" class="text-red-400 text-sm"></span>
                </div>

                <div>
                    <label asp-for="UserInput.RePassword" class="@labelCss"></label>
                    <input asp-for="UserInput.RePassword" class="@inputCss" type="password" placeholder="••••••••" />
                    <span asp-validation-for="UserInput.RePassword" class="text-red-400 text-sm"></span>
                </div>

                <div class="text-sm text-red-400">@Html.Raw(Model.Message)</div>

                <button type="submit" class="text-black">Sign up</button>
            </form>
        </div>
    </div>
</div>

